In [13]:
import os
import pandas as pd
from IPython.display import display

CSV_DIR = './csvs'
FIR_DIR = './figs'

In [9]:
# dependencies
def create_folder(self, path: str):
    try:
        os.mkdir(path)
    except FileExistsError:
        pass

In [17]:
# visualization

for dir, subdirs, files in os.walk(CSV_DIR):
    for file in files:
        df = pd.read_csv(dir+'/'+file)
        df = df.drop(columns=['Unnamed: 0', 'round'])
        print(file)
        display(df)

test_routing_retrieve_rt

     start_time   finish_time  task_prep_time    duration_s  failed
0  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
1  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
2  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
3  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
4  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
5  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
6  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
7  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
8  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True
9  1.690442e+09  1.690442e+09   -1.690442e+09  1.690442e+09    True

test_routing_new_discv_node

     start_time   finish_time  task_prep_time  duration_s  failed
0  1.690443e+09  1.690443e+09        3.829946    0.000200   False
1  1.690443e+09  1.690443e+09        3.888254    0.000198   False
2  1.690443e+09  1.690443e+09        3.905197    0.000199   False
3  1.690443e+09  1.690443e+09        3.864532    0.000201   False
4  1.690443e+09  1.690443e+09        3.880029    0.000202   False
5  1.690443e+09  1.690443e+09        3.907396    0.000200   False
6  1.690443e+09  1.690443e+09        3.876650    0.000197   False
7  1.690443e+09  1.690443e+09        3.898253    0.000197   False
8  1.690443e+09  1.690443e+09        3.827572    0.000191   False
9  1.690443e+09  1.690443e+09        3.785142    0.000190   False

test_routing_closest_to_hash

     start_time   finish_time  task_prep_time  duration_s  failed
0  1.690443e+09  1.690443e+09        3.860160    0.000017   False
1  1.690443e+09  1.690443e+09        3.829029    0.000016   False
2  1.690443e+09  1.690443e+09        3.843800    0.000030   False
3  1.690443e+09  1.690443e+09        3.865146    0.000015   False
4  1.690443e+09  1.690443e+09        3.889319    0.000018   False
5  1.690443e+09  1.690443e+09        3.920151    0.000018   False
6  1.690443e+09  1.690443e+09        3.869149    0.000028   False
7  1.690443e+09  1.690443e+09        3.862963    0.000015   False
8  1.690443e+09  1.690443e+09        3.887517    0.000013   False
9  1.690443e+09  1.690443e+09        3.921648    0.000013   False

test_network_n_initialization

     start_time   finish_time  task_prep_time  duration_s  failed
0  1.690443e+09  1.690443e+09        0.000024    0.045659   False
1  1.690443e+09  1.690443e+09        0.000032    0.060369   False
2  1.690443e+09  1.690443e+09        0.000023    0.061265   False
3  1.690443e+09  1.690443e+09        0.000026    0.052744   False
4  1.690443e+09  1.690443e+09        0.000022    0.057612   False
5  1.690443e+09  1.690443e+09        0.000019    0.058876   False
6  1.690443e+09  1.690443e+09        0.000020    0.061815   False
7  1.690443e+09  1.690443e+09        0.000028    0.053257   False
8  1.690443e+09  1.690443e+09        0.000023    0.058571   False
9  1.690443e+09  1.690443e+09        0.000019    0.060055   False

test_network_node_bootstrap

     start_time   finish_time  task_prep_time    duration_s  failed
0  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
1  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
2  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
3  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
4  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
5  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
6  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
7  1.690443e+09  1.690443e+09    5.641866e-02  4.795088e+00   False
8  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True
9  1.690443e+09  1.690443e+09   -1.690443e+09  1.690443e+09    True

test_network_bootstrap_node

     start_time   finish_time  task_prep_time  duration_s  failed
0  1.690443e+09  1.690443e+09        0.053677    3.753137   False
1  1.690443e+09  1.690443e+09        0.059540    3.854406   False
2  1.690443e+09  1.690443e+09        0.062316    3.828262   False
3  1.690443e+09  1.690443e+09        0.066504    3.828936   False
4  1.690443e+09  1.690443e+09        0.055808    3.827533   False
5  1.690443e+09  1.690443e+09        0.061926    3.908571   False
6  1.690443e+09  1.690443e+09        0.067706    3.839658   False
7  1.690443e+09  1.690443e+09        0.056619    3.886332   False
8  1.690443e+09  1.690443e+09        0.057719    3.835029   False
9  1.690443e+09  1.690443e+09        0.065192    3.851637   False